$orange: #FF4A1F;

body {
	padding: 0;
	margin: 0;
	background: rgba(240,240,240,0.9);
	color: rgb(25,25,25);
	text-align: center;
	font-size: 30px;
	.errorsBox {
		color: #E71A3A;
	}
}

.navigationWrapper {
	background: rgb(40,40,40);
	width: 100vw;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  button {
	  	color: black;
			margin: 15px;
			border: none;
	  	padding: 5px 15px;
	  	font-size: 28px;
	  	background: rgba(245,245,245,1);
	  }
	  button:hover {
			cursor: pointer;
		}
		.navLoginBtn:hover {
			background: rgba(250,250,250,0.8);
		}
		.navSignupBtn:hover {
			background: rgba(250,250,250,0.8);
		}
		.navLogoutBtn:hover {
			background: #FF7052;
		}
	  a, a:visited {
	  	text-decoration: none;
	  	color: white;
	  }
	  .navLink {
	  	margin: 2px 8px;
	  }
	  .authLink, .authLink:visited {
	  	color: black
	  }
	  .activeRoute {
	  	color: $orange !important;
	  }
	}
}

.loginForm, .signupForm {
	width: 600px;
	margin: auto;
	h1 {
		font-size: 45px;
	}
	input {
		font-size: 28px;
		margin: 10px;
		width: 500px;
		padding: 15px 10px;
		border: 1px solid rgba(20,20,20,0.25);
	}
	button {
		font-size: 32px;
		padding: 10px 20px;
		margin-bottom: 0;
		border: 1px solid rgba(20,20,20,0.25);
		background: white;
		margin: 25px;
	}
	button:hover {
		cursor: pointer;
		background: rgba(220,220,220,0.2);
	}
}


.addPollContainer {
	width: 450px;
	margin: auto;
	h1 {
		font-size: 35px;
	}
	.optionContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.optionInput {
			margin-right: 15px;
		}
		.removeOption:hover {
			cursor: pointer;
			color: #B21C34;
		}
	}
	input {
		width: 400px;
		font-size: 25px;
		padding: 7px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	p {
		font-size: 25px;
	}
	.btnContainer {
		margin-top: 15px;
		button {
			background: white;
			border: none;
			font-size: 25px;
			margin-top: 5px;
			margin-left: 15px;
			padding: 12px;
			margin: 5px;
		}
		button:hover {
			background: #37EA74;
			cursor: pointer;
		}
		.submitBtn:hover {
			background: #7189F7;
		}
	}
}

.viewPollsContainer {
	h1 {
		font-size: 35px;
	}
}