$orange: #FF4A1F;

body {
	padding: 0;
	margin: 0;
	background: rgba(240,240,240,0.9);
	background: linear-gradient(to bottom right, rgba(240,240,240,0.9), rgba(195,195,195,1)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: rgb(25,25,25);
	text-align: center;
	font-size: 30px;
	font-family: 'Gentium Basic', serif;
	.errorsBox {
		color: #E71A3A;
	}
}

.aboutWrapper {
	p {
		width: 600px;
		margin: auto;
	} 
}

.navigationWrapper {
	background: rgb(40,40,40);
	width: 100vw;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  button {
	  	color: black;
			margin: 15px;
			border: none;
	  	padding: 5px 15px;
	  	font-size: 28px;
	  	background: rgba(245,245,245,1);
	  }
	  button:hover {
			cursor: pointer;
		}
		.navLoginBtn:hover {
			background: rgba(250,250,250,0.8);
		}
		.navSignupBtn:hover {
			background: rgba(250,250,250,0.8);
		}
		.navLogoutBtn:hover {
			background: #E90542;
			color: black;
		}
	  a, a:visited {
	  	text-decoration: none;
	  	color: white;
	  }
	  .navLink {
	  	margin: 2px 20px;
	  }
	  .navLink:hover {
			color: rgba(250,250,250,0.85);
	  }
	  .authLink, .authLink:visited {
	  	color: black
	  }
	  .activeRoute {
	  	color: $orange !important;
	  }
	}
}

.loginForm, .signupForm {
	width: 600px;
	margin: auto;
	h1 {
		font-size: 45px;
	}
	input {
		font-size: 28px;
		margin: 10px;
		width: 500px;
		padding: 15px 10px;
		border: 1px solid rgba(20,20,20,0.25);
	}
	button {
		font-size: 32px;
		padding: 10px 20px;
		margin-bottom: 0;
		border: 1px solid rgba(20,20,20,0.25);
		background: white;
		margin: 25px;
	}
	button:hover {
		cursor: pointer;
		background: rgba(220,220,220,0.2);
	}
}


.addPollContainer {
	width: 500px;
	margin: auto;
	padding-top: 15px;
	h1 {
		font-size: 35px;
	}
	.optionContainer {
		.removeOption {
			font-size: 45px;
			position: absolute;
			margin-left: -42.5px;
			margin-top: 3px;
		}
		.removeOption:hover {
			cursor: pointer;
			color: #E90542;
		}

	}
	input {
		width: 400px;
		font-size: 25px;
		padding: 7px 45px 7px 7px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 20px;
	}
	p {
		font-size: 25px;
		font-weight: bold;
	}
	.btnContainer {
		margin-top: 15px;
		button {
			background: white;
			border: none;
			font-size: 25px;
			margin-top: 5px;
			margin-left: 15px;
			padding: 12px;
			margin: 5px;
		}
		button:hover {
			background: #37EA74;
			cursor: pointer;
		}
		.submitBtn:hover {
			background: #7189F7;
		}
	}
}

.viewPollsContainer {
	padding-top: 25px;
	padding-bottom: 25px;
	h1 {
		font-size: 35px;
	}
	.pollWrapper {
		h2 {
			margin: 5px auto 15px auto;
		}
		background: rgba(150,150,150,0.2);
		border: 1px solid rgba(150,150,150,0.5);
		padding: 25px;
		margin: 10px auto;
		width: 650px;
		button {
			background: white;
			border: none;
			font-size: 25px;
			padding: 12px;
			margin: 15px;
			width: 200px;
		}
		button:hover {
			cursor: pointer;
		}
		.voteBtn:hover {
			background: #37EA74;
		}
		.resultsBtn:hover {
			background: #7189F7;
		}
		.optionContainer {
			.option {
				//background: rgba(250,250,250,0.65);
				border: 1px solid rgba(50,50,50,0.3);
				width: 500px;
				margin: 5px auto;
				padding: 7px;
			}
			.option:hover {
				background: #FFE66D !important;
				cursor: pointer;
			}
		}
	}
}

.myPollsContainer {
	padding-top: 25px;
	h1 {
		font-size: 35px;
	}
	.pollItem {
		width: 600px;
		margin: 7px auto;
		padding-top: 15px;
		padding-bottom: 15px;
		background: rgba(150,150,150,0.2);
		border: 1px solid rgba(150,150,150,0.5);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		h2 {
			margin: 0;
		}
		.removeOption {
			font-size: 45px;
			position: absolute;
			margin-left: 265px;
			margin-top: 3px;
		}
		.removeOption:hover {
			cursor: pointer;
			color: #E90542;
		}
	}
}


@media only screen and (max-width: 650px) {
	.navigationWrapper {
		.navLink {
			width: 100vw;
		}
		.linksWrapper {
			margin: auto;
		  display: flex;
		  flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		}
	}
}





