$orange: #FF4A1F;

body {
	padding: 0;
	margin: 0;
	background: rgba(240,240,240,0.9);
	background: linear-gradient(to bottom right, rgba(240,240,240,0.9), rgba(195,195,195,1)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: rgb(25,25,25);
	text-align: center;
	font-size: 30px;
	font-family: 'Gentium Basic', serif;
	.errorsBox {
		color: #E71A3A;
	}
}

.aboutWrapper {
	h1 {
		font-size: 50px;
		width: 85vw;
		margin: 25px auto 0 auto;
	}
	h2 {
		font-size: 45px;
	}
	p {
		width: 65vw;
		margin: auto;
	}
	h3 {
		width: 75vw;
		margin-left: auto;
		margin-right: auto;
	}

	a, a:visited {
		color: rgb(25,25,25);
	}
	a:hover {
		color: $orange;
	}
	.credits {
	  	width: 55vw;
	 }
}

.navigationWrapper {
	background: rgb(40,40,40);
	width: 100vw;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  button {
	  	color: black;
			margin: 15px;
			border: none;
	  	padding: 5px 15px;
	  	font-size: 28px;
	  	background: rgba(245,245,245,1);
	  }
	  button:hover {
			cursor: pointer;
		}
		.navLogoutBtn:hover {
			background: #E90542;
			color: black;
		}
	  a, a:visited {
	  	text-decoration: none;
	  	color: white;
	  }
	  .navLink {
	  	margin: 10px 20px;
	  }
	  .navLink:hover {
			color: rgba(250,250,250,0.85);
	  }
	  .activeRoute {
	  	color: $orange !important;
	  }
	}
}

.loginForm, .signupForm {
	width: 600px;
	margin: auto;
	h1 {
		font-size: 45px;
	}
	input {
		font-size: 28px;
		margin: 10px;
		width: 500px;
		padding: 15px 10px;
		border: 1px solid rgba(20,20,20,0.25);
	}
	button {
		font-size: 32px;
		padding: 10px 20px;
		margin-bottom: 0;
		border: 1px solid rgba(20,20,20,0.25);
		background: white;
		margin: 25px;
	}
	button:hover {
		cursor: pointer;
		background: rgba(220,220,220,0.2);
	}
}


.addPollContainer {
	width: 500px;
	margin: auto;
	padding-top: 15px;
	h1 {
		font-size: 35px;
	}
	.optionContainer {
		.removeOption {
			font-size: 45px;
			position: absolute;
			margin-left: -42.5px;
			margin-top: 3px;
		}
		.removeOption:hover {
			cursor: pointer;
			color: #E90542;
		}
	}
	input {
		width: 400px;
		font-size: 25px;
		padding: 7px 45px 7px 7px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 20px;
	}
	p {
		font-size: 25px;
		font-weight: bold;
	}
	.btnContainer {
		margin-top: 15px;
		button {
			background: white;
			border: none;
			font-size: 25px;
			margin-top: 5px;
			margin-left: 15px;
			padding: 12px;
			margin: 5px;
		}
		button:hover {
			background: #37EA74;
			cursor: pointer;
		}
		.submitBtn:hover {
			background: #7189F7;
		}
	}
}

.viewPollsContainer {
	padding-top: 25px;
	padding-bottom: 25px;
	.pollWrapper {
		h2 {
			margin: 5px auto 15px auto;
		}
		background: rgba(150,150,150,0.2);
		border: 1px solid rgba(150,150,150,0.5);
		padding: 25px;
		margin: 10px auto;
		width: 650px;
		button {
			background: white;
			border: none;
			font-size: 25px;
			padding: 12px;
			margin: 15px;
			width: 200px;
		}
		button:hover {
			cursor: pointer;
		}
		.voteBtn:hover {
			background: #37EA74;
		}
		.resultsBtn:hover {
			background: #7189F7;
		}
		.optionContainer {
			.option {
				border: 1px solid rgba(50,50,50,0.3);
				width: 500px;
				margin: 5px auto;
				padding: 7px;
			}
			.option:hover {
				background: #FFE66D !important;
				cursor: pointer;
			}
			.addOption {
				background: rgba(250,250,250,0.25);
			}
			.addOption:hover {
				background: #D18FFE !important;
			}
		}
		.addOptionWrapper {
			h1 {
				font-size: 34px;
			}
			input {
				width: 400px;
				font-size: 25px;
				padding: 7px 45px 7px 7px;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left: 20px;
			}
			.addOptionBtn {
				width: 300px;
				background: white;
				border: none;
				font-size: 25px;
				margin: 5px;
			}
			.addOptionBtn:hover {
				background: #37EA74;
				cursor: pointer;
			}
		}
	}
}

.myPollsContainer {
	padding-top: 25px;
	h1 {
		font-size: 34px;
	}
	.pollItemWrapper {
		background: rgba(150,150,150,0.2);
		border: 1px solid rgba(150,150,150,0.5);
		padding: 25px;
		padding-right: 50px;
		margin: 10px auto;
		width: 70vw;
		position: relative;
		.pollItem {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			h2 {
				margin: 0;
				font-size: 28px;
			}
			.optionsWrapper {
				position: absolute;
				right: 10px;
				top: 15px;
				.infoOption {
					font-size: 45px;
					margin-right: 3px;
				}
				.infoOption:hover {
					cursor: pointer;
					color: #3958FF;
				}
				.removeOption {
					font-size: 45px;
					margin-left: 3px;
				}
				.removeOption:hover {
					cursor: pointer;
					color: #E90542;
				}
			}
		}
	}
}

.chartWrapper {
	margin-top: 25px;
	margin-bottom: 15px;
	border-top: 1px solid black;
	.twitterBtn {
		margin-left: 7px;
	}
	.twitterBtn, .twitterBtn:visited {
		color: black;
	}
	.twitterBtn:hover {
		color: $orange;
	}
}


@media only screen and (max-width: 750px) {
	.viewPollsContainer {
		padding-top: 15px;
		padding-bottom: 15px;
		.pollWrapper {
			h2 {
				margin: 5px auto 15px auto;
				font-size: 30px
			}
			padding: 25px;
			margin: 10px auto;
			width: 85vw;
			button {
				font-size: 18px;
				padding: 8px 4px;
				margin: 6px;
				width: 35vw;
			}
			.optionContainer {
				.option {
					width: 80vw;
					margin: 5px auto;
					padding: 6px;
					font-size: 24px;
				}
			}
			.addOptionWrapper {
				h1 {
					font-size: 28px;
				}
				input {
					width: 80vw;
					font-size: 22px;
					padding: 6px;
					margin-top: 5px;
					margin-bottom: 5px;
					margin-left: 0px;
				}
				.addOptionBtn {
					width: 50vw;
					font-size: 20px;
					margin: 5px;
				}
			}
		}
	}
	.myPollsContainer {
		padding-top: 15px;
		h1 {
			font-size: 32px;
		}
		.pollItemWrapper {
			padding: 15px;
			padding-right: 50px;
			margin: 10px auto;
			width: 80vw;
			.pollItem {
				padding-right: 40px;
				h2 {
					margin: 0;
					font-size: 24px;
				}
				.optionsWrapper {
					position: absolute;
					right: 5px;
					top: 7px;
					.infoOption, .removeOption {
						font-size: 40px;
					}
				}
			}
		}
	}
	.chartWrapper {
		margin-top: 8px;
		margin-bottom: 12px;
		border-top: 1px solid black;
		h1 {
			font-size: 28px;
		}
		.twitterBtn {
			margin-left: 7px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.loginForm, .signupForm {
		width: 100vw;
		margin: auto;
		h1 {
			font-size: 40px;
		}
		input {
			font-size: 24px;
			margin: 8px;
			width: 80vw;
			padding: 12px 8px;
		}
		button {
			font-size: 28px;
			padding: 8px 16px;
			margin: 18px;
		}
	}
}

@media only screen and (max-width: 650px) {
	.navigationWrapper {
		padding-top: 5px;
		padding-bottom: 10px;
		.linksWrapper {
			margin: auto;
		  display: flex;
		  flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		  padding: 5px auto;
		  .navLink {
		  	font-size: 28px;
		  	margin: 5px;
		  	width: 100vw;
		  }
		  button {
		  	background: none;
		  	border: none;
		  	font-size: 28px;
				margin: 0;
				padding: 0;
		  }
		}
	}
	.aboutWrapper {
		h1 {
			font-size: 33px;
			margin-top: 15px;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 28px;
			width: 90vw;
		}
		p {
			font-size: 22px;
		}
		p {
			width: 85vw;
		}
		.credits {
			width: 85vw;
		}
	}
	.addPollContainer {
		width: 100vw;
		h1 {
			font-size: 30px;
		}
		input {
			width: 80vw;
			margin: 5px;
			font-size: 22px;
		}
		.optionContainer {
			.removeOption {
				margin-top: 2px;
			}
		}
		.btnContainer {
			button {
				background: white;
				border: none;
				font-size: 20px;
				margin-top: 5px;
				margin-left: 15px;
				padding: 8px;
				margin: 5px;
			}
		}
	}	
}





